.hidden {
  display: none;
  text-align: center;
  margin-top: 10px;
  color: #FFC914;


}
#meats{
  padding-top: 10px;
}
.name, .total{
}

h1{
  text-align: center;
  background-color: #E4572E

}
button {
  margin-top: 13px;
}
img {
  height: 100px;
  width: 100px;
  padding-left: 10px;
}

body {
  background-color: #17BEBB

}
h4 {
  text-decoration: underline;
}

#addressForm {
  display: none;
}

#pizzaOrderForm {
  border: 3px solid black;
  border-radius: 10%;
  padding: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
